[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/RaidcoreGG/imgui
[submodule "src/mumble"]
	path = src/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api
[submodule "src/include/thirdparty/imgui_positioning"]
	path = src/include/thirdparty/imgui_positioning
	url = https://github.com/RaidcoreGG/imgui_positioning.git
[submodule "src/include/thirdparty/ImAnimate"]
	path = src/include/thirdparty/ImAnimate
	url = https://github.com/RaidcoreGG/ImAnimate.git
